In [1]:
% load_ext autoreload
% autoreload 2
import os

if not os.getcwd().endswith('mob2crime'):
    os.chdir('..')
os.getcwd()

'/home/Jiahui/mob2crime'

In [2]:
%matplotlib inline

In [3]:
from src.mex_helper import *
from src.utils.gis import *

# tower vor

In [9]:
tvor = tower_vor('cities', False)

loading existing tvor file: data/mex_tvor_in_country.geojson

In [10]:
tvor_within_cities = tower_vor('cities', True)

loading existing tvor file: data/mex_tvor_in_country.geojson

In [11]:
# gtid=2EE075F9-2EE075FA  a boarder line example. If not cut at country boarder, the area is NaN
tvor_within_cities[tvor_within_cities.gtid=='2EE075F9-2EE075FA']

,city,geometry,gtid,iarea,gtid_area,weight
330,"Acapulco de Ju치rez, Guerrero",POLYGON ((-99.51699262264229 16.87102362215264...,2EE075F9-2EE075FA,1.359184e+08,1.359184e+08,1.0

In [12]:
tvor[tvor.gtid=='2EE075F9-2EE075FA']

,city,geometry,gtid,iarea,gtid_area,weight
330,"Acapulco de Ju치rez, Guerrero",POLYGON ((-99.51699262264229 16.87102362215264...,2EE075F9-2EE075FA,1.359184e+08,1.702219e+09,0.079848

# tower2grid

In [15]:
%%time
t2g = tower2grid('cities', 1000, t2r_intxn_only=False)

loading existing tvor file: data/mex_tvor_in_country.geojson
keep tower voronoi within cities
reading existing grids
building tower to grid mapping

/home/Jiahui/miniconda3/lib/python3.6/site-packages/geopandas/tools/sjoin.py:44: UserWarning: CRS of frames being joined does not match!
  warn('CRS of frames being joined does not match!')

saving tower to grid mapping: data/mex_t2g_cities_1000m.csv
CPU times: user 2min 56s, sys: 108 ms, total: 2min 56s
Wall time: 2min 56s

In [16]:
t2g_read = tower2grid('cities', 1000, t2r_intxn_only=False)

reading existing t2g file: data/mex_t2g_cities_1000m.csv

### check if loading existing result is the same as the one before saved

In [17]:
(t2g_read==t2g).mean()

gtid      1.00000
grid      1.00000
weight    0.65363
dtype: float64

In [18]:
pd.np.isclose(t2g_read.weight, t2g.weight).mean()

1.0

In [19]:
t2g.loc[54684]

gtid      2EE075F9-2EE075FA
grid                  42512
weight          3.93894e-05
Name: 54684, dtype: object

In [20]:
t2g_read.loc[54684]

gtid      2EE075F9-2EE075FA
grid                  42512
weight          3.93894e-05
Name: 54684, dtype: object