In [1]:
% load_ext autoreload
% autoreload 2
import os

if not os.getcwd().endswith('mob2crime'):
    os.chdir('..')
os.getcwd()

'/home/Jiahui/mob2crime'

In [2]:
%matplotlib inline

In [4]:
from src.mex_helper import *
from src.utils.gis import *

# tower vor

In [7]:
tvor = tower_vor('cities', False)

In [9]:
tvor2 = tower_vor('cities', True)

In [68]:
tvor2[tvor2.gtid=='2EE075F9-2EE075FA']

,city,geometry,gtid,iarea,gtid_area,weight
330,"Acapulco de Ju치rez, Guerrero",POLYGON ((-99.51699262264229 16.87102362215264...,2EE075F9-2EE075FA,1.359184e+08,1.359184e+08,1.0

In [69]:
tvor[tvor.gtid=='2EE075F9-2EE075FA']

,city,geometry,gtid,iarea,gtid_area,weight
330,"Acapulco de Ju치rez, Guerrero",POLYGON ((-99.51699262264229 16.87102362215264...,2EE075F9-2EE075FA,1.359184e+08,NaN,NaN

# tower2grid

In [6]:
%%time
t2g = tower2grid('cities', 1000, t2r_intxn_only=False)

keep tower voronoi within cities
reading existing grids
building tower to grid mapping
saving tower to grid mapping: data/mex_t2g_cities_1000m.csv
CPU times: user 3min, sys: 224 ms, total: 3min 1s
Wall time: 3min 1s

In [11]:
t2g_read = tower2grid('cities', 1000, t2r_intxn_only=False)

reading existing t2g file: data/mex_t2g_cities_1000m.csv

In [14]:
(t2g_read==t2g).mean()

gtid      1.000000
grid      1.000000
weight    0.654319
dtype: float64

In [67]:
pd.np.isclose(t2g_read.weight, t2g.weight).mean()

0.99700899558685763

In [64]:
t2g.loc[54684]

gtid      2EE075F9-2EE075FA
grid                  42512
weight                  NaN
Name: 54684, dtype: object

In [66]:
t2g_read.loc[54684]

gtid      2EE075F9-2EE075FA
grid                  42512
weight                  NaN
Name: 54684, dtype: object

In [63]:
div[~pd.np.isclose(t2g_read.weight, t2g.weight)]

54684   NaN
54685   NaN
54686   NaN
54687   NaN
54688   NaN
54689   NaN
54690   NaN
54691   NaN
54692   NaN
54693   NaN
54694   NaN
54695   NaN
54696   NaN
54697   NaN
54698   NaN
54699   NaN
54700   NaN
54701   NaN
54702   NaN
54703   NaN
54704   NaN
54705   NaN
54706   NaN
54707   NaN
54708   NaN
54709   NaN
54710   NaN
54711   NaN
54712   NaN
54713   NaN
         ..
55189   NaN
55190   NaN
55191   NaN
55192   NaN
55193   NaN
55194   NaN
55195   NaN
55196   NaN
55197   NaN
55198   NaN
55199   NaN
55200   NaN
55201   NaN
55202   NaN
55203   NaN
55204   NaN
55205   NaN
55206   NaN
55207   NaN
55208   NaN
55209   NaN
55210   NaN
55211   NaN
55212   NaN
55213   NaN
55214   NaN
55215   NaN
55216   NaN
55217   NaN
55218   NaN
Name: weight, Length: 265, dtype: float64